.super-mario {
    width: 200px;
    position: absolute;
    left: 250px;
    top: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 300px;
    top: 350px;
  }
  
  .baloon {
    position: absolute;
    left: 600px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 600px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 150px;
  }