.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
    top: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 350px;
  }
  
  .baloon {
    position: absolute;
    left: 600px;
  }
  
  .speach {
    font-size: 25px;
    position: relative;
    left: 610px;
    top: 110px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 150px;
  }