html {
  box-sizing: border-box;
}
body {
  font-size: 24px;
  margin: 0 40px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media screen and (min-width: 850px) {
  body {
    background-color: darkgrey;
    margin: 0 50px;
  }
  #chapter-info-container {
    display: flex;
    justify-content: center;
  }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (min-width: 1300px){
  body {
    max-width: 1200px;
    background-color: aquamarine;
    font-size: 26px;
    margin: 0 auto;
  }
  h1 {
    font-size: 55px;
  }
  #chapter-info-container aside{
    margin: 0 50px;
  }
}
